<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css" />
  <link rel="stylesheet" href="../css/style.css?v=33" />
  <script src="https://p.trellocdn.com/power-up.min.js"></script>
</head>
<body>
  <div id="root"></div>
  <script src="../js/lib.js?v=33"></script>
  <script src="./common.js?v=33"></script>
  <script src="./section.js?v=33"></script>
</body>
</html>
